<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="BDCheckpointEntities" connectionString="metadata=res://*/conexion.csdl|res://*/conexion.ssdl|res://*/conexion.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-VMHIO53\SQLEXPRESS;initial catalog=master;integrated security=True;encrypt=False;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="CheckpointSoftware.Properties.Settings.ConexionGridview"
      connectionString="Data Source=DESKTOP-VMHIO53\SQLEXPRESS;Initial Catalog=master;Integrated Security=True;Encrypt=False;TrustServerCertificate=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v17.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>